body{
    /* background: linear-gradient(136deg, #1ad7c0, #8E44AD, #ff9b11, #1F3A93, #ddd8c6, #000000, #000000);  */
    background: linear-gradient(136deg, #FBA100,#87D37C, #4484CE, #9B59B6, #EFEFEF, #000000, #000000);
    
    background-size: 1200% 1200%; 
    -webkit-animation: AnimationName 70s ease infinite;
    -moz-animation: AnimationName 70s ease infinite;
    -o-animation: AnimationName 70s ease infinite;
    animation: AnimationName 70s ease infinite; 
    height: 100%;
}

 
@-webkit-keyframes AnimationName {
    0%{background-position:0% 7%}
    50%{background-position:100% 94%}
    100%{background-position:0% 7%}
}

@-moz-keyframes AnimationName {
    0%{background-position:0% 7%}
    50%{background-position:100% 94%}
    100%{background-position:0% 7%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 7%}
    50%{background-position:100% 94%}
    100%{background-position:0% 7%}
}
@keyframes AnimationName {
    0%{background-position:0% 7%}
    50%{background-position:100% 94%}
    100%{background-position:0% 7%}
} 


section{
    min-width: 45em;
    overflow: hidden;
}

h2{
    font-size: 45px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
}


ul{
    list-style-type: none;
}

.container{
    width: 95%;
}

.section_title{
    text-align: center;
    /* color: white; */
    
}


/* ---------- Navbar ---------- */
   .navbar {
    padding-top:1em;
    background: transparent;
    border:0;
    opacity: 0.8;
    transition: all 0.2s ease-in;
}   

/* Navbar Links Div */
  #top-navbar-links {
    margin-right: 0px;
}  

/* Navbar Links Contents*/
  #top-navbar-1 ul li a{
    font-family: 'Work Sans', sans-serif;
	font-size: 14px;
	color: white;
	font-weight: 400;
	text-transform: uppercase;
}  

/* Logo */
  #logo-brand {
    color: white;
}  

/* Contact Me Button */
  .navbar-inverse ul.navbar-nav li a.btn-link-3 {
	display: inline-block;
	margin: 9px 0 0 15px;
	padding: 6px 15px;
	background: #df6482;
	border: 0;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 1;
    text-transform: uppercase;
    -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
}  

  .affix {
      top: 0;
      padding: 0;
      opacity: 0.8;
      background-color: black;
  }
/* ---------------------------- */

/* ---------- Home Section ---------- */
#homepage{


}

/* Homepage Jumbotron */
.jumbotron{
    text-align: center;
    color: white;
    background-color: transparent;
    vertical-align: middle;
    padding-top: 27em;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

/* Social Icons */
.social-icons{
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    transition: all 0.8s;
}
/* ---------------------------- */

#gitlab_icon:hover{
    color: #FFD200;
}

#github_icon:hover{
    color: #76FF03;
}

#linkedin_icon:hover{
    color: #2196F3;
}

#email_icon:hover {
    color: #E040FB;
}


/* ---------- About Me Section ---------- */
#aboutme{
    background-color: #1D1D1D;
    color: white;
    padding: 3.5em;
}

#aboutmecontainer{
    display: flex;
}

#hello_logo{
    align-items: stretch;
    text-align: center;
}

#hello_text{
    height: 100%;
    align-items: stretch;
    font-family: 'Raleway'; 
    font-size: 20px;
    color: #BDBAB9;
}
/* ---------------------------- */

/* ---------- Skills Section ---------- */
#skillspage{
    background-color: #2F2F2F; 
    background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
    font-family: "Raleway";
}

#skillspage .row{
    width: 60%;    
    margin: 0 auto;
    padding-bottom: 2em;    
}

.skill_item{
    background-color: white;
    color: black;
    margin: 1em; 
    margin-bottom: 2em;
    padding: 1em;
    height: 26em;
    width: 100%;
    overflow: hidden;
}

.skill_item h3{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.skill_item h4{
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
}

.skill_item div{
    padding: 0.75em;
    width: 100%;
    float: left;
}

#front_end_card div{
    width: 50%;
}

.skill_item_title{
    text-align: center;
}

#skills_title{
    background-color: black;
    color: white;
     padding: 0.1em; 
}


.skill_list_item{
}

.skill_col{
}

.programming_logos{
    height: 3em;
    width: 3em;
    margin-right: 0.5em;
    float: left;
}

.skillcard_icons{
    max-height: 3em; 
    max-width: 3em;
    display: block;
    margin: 0 auto;
}
/* ---------------------------- */

/* ---------- Resume Section ---------- */

#resumepage{
    background-color: #2B2B2B;
    /* background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%); */
    color: white;
}

#resumetitle{
    background-color: #212121;
    color:white;
    padding: 0.3em;
}

.resume_view{
    margin: 0 auto;
    display: table;
    padding-top: 2em;
    padding-bottom: 2em;
    height: 1250px;
    width: 800px;
}
/* ---------------------------- */

/* ---------- Contact Section ---------- */
#contactpage{
background-color:black;
color: white;
padding-bottom: 3em;

}

.contact_content{
    padding-top: 2em;
    margin: 0 auto;
    text-align: center;
}
/* ---------------------------- */

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}